@use "../../../styles/mixins";
@import '../../../styles/variables';

.footer {
  padding: 15px 0;
}

.content {
  @include mixins.flex(space-between, center, nowrap);

  p {
    margin-bottom: 0;
  }

  img {
    max-width: 150px;
  }
}