@use "mixins";
@import "variables";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-min) {
    max-width: $container;
    padding: 0 30px;
  }
  @media (min-width: $desktop-min) {
    padding: 0 20px;
  }
}


body {
  background: $third-bg;
  color: $secondary-color;

  section {
    @include mixins.padding;
  }

  h1 {
    font-size: $h1-mobile;
    margin-bottom: 30px;
    
    @media (min-width: $desktop-min) {
      font-size: $h1-desktop;
    }
  }

  h2 {
    font-size: $h2-mobile;
    margin-bottom: 20px;

    @media (min-width: $desktop-min) {
      font-size: $h2-desktop;
    }
  }

  p {
    font-size: $p-mobile;
    margin-bottom: 16px;

    @media (min-width: $desktop-min) {
      font-size: $p-desktop;
    }
  }

  a {

    &:hover {
    text-decoration: underline;
      color: $hover-blackColor;
    }
  }

  .header {
    background: $secondary-bg;

    * {
      color: $fourth-color;
    }

    button {
      svg {
        fill: $fourth-color;
      }
    }
  }

  .footer {
    background: $secondary-bg;

    * {
      color: $fourth-color;
    }

    svg {
      fill: $fourth-color;
    }
  }
}

.dark {
  body {
    background: $primary-bg;
    color: $primary-color;

    h1,h2,h3,h4,h5,h6 {
      color: $third-color;
    }

    a {

      &:hover {
        color: $hover-lightColor;
      }
    }

    .header {
      background: $secondary-color;

      button {
        svg {
          fill: $third-color;
        }
      }
    }

    .footer {
      background: $secondary-color;

      * {
        color: $third-color;
      }

      svg {
        fill: $third-color;
      }
    }
  }
}

